page-sample-scan {

  .scroll-content {
    padding: 0px !important;
  }
img.sample-scan{
  //margin-top: 20px;
  max-width: 100%;
  //margin-left: -16px;
  border: 0;
  position: relative;
}
  .image-comment{
    position: absolute;
    font-size: 15px;
    bottom: 5px;
    background-color: rgba(33, 32, 30, 0.57);
    color: white;
    width: 100%;
    line-height: 30px;
    span{
      margin-left: 10%;
      font-weight: 100;
    }

  }
  .image-container{
    position: relative;
  }
}
